modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY = "AIzaSyD-TSEV_AS2q1jh4WAh80lPWwWNuINO4l8"

[userenv.development]

[userenv.production]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd nextjs && npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3001

[[ports]]
localPort = 5904
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "deploy/start.sh"]
publicDir = "public"
build = ["bash", "deploy/build.sh"]
