<header id="masthead" class="site-header dsvy-header-style-2">
  <div class="dsvy-header-overlay">
    <div class="dsvy-header-height-wrapper">
      <div
        class="dsvy-header-inner dsvy-sticky-logo-yes dsvy-responsive-logo-no dsvy-responsive-header-bgcolor-white dsvy-header-wrapper dsvy-bg-color-transparent dsvy-header-sticky-yes dsvy-sticky-type- dsvy-sticky-bg-color-white"
      >
        <div
          class="dsvy-pre-header-wrapper dsvy-bg-color-transparent dsvy-color-white"
        >
          <div class="container">
            <div class="d-flex justify-content-between">
              <div class="dsvy-pre-header-left">
                <ul class="dsvy-contact-info dsvy-skincolor-icon">
                  <li>
                    <i class="dsvy-base-icon-letter"></i> Make a call :
                    972-561-0927
                  </li>
                  <li>
                    <i class="dsvy-base-icon-placeholder-1"></i> Dallas, Texas /
                    Houston
                  </li>
                </ul>
              </div>
              <div class="dsvy-pre-header-right">
                <ul class="dsvy-social-links">
                  <li class="dsvy-social-li dsvy-social-facebook">
                    <a
                      href="https://www.facebook.com/CrimsonConsultingLLC/"
                      target="_blank"
                      ><span
                        ><i class="dsvy-base-icon-facebook-squared"></i></span
                    ></a>
                  </li>
                  <li class="dsvy-social-li dsvy-social-instagram">
                    <a
                      href="https://www.instagram.com/crimson_consultingllc/"
                      target="_blank"
                      ><span><i class="dsvy-base-icon-instagram"></i></span
                    ></a>
                  </li>
                  <li class="dsvy-social-li dsvy-social-linkedin">
                    <a
                      href="https://www.linkedin.com/company/crimson-consultingllc/"
                      target="_blank"
                      ><span
                        ><i class="dsvy-base-icon-linkedin-squared"></i></span
                    ></a>
                  </li>
                  <li class="dsvy-social-li dsvy-social-twitter">
                    <a href="https://twitter.com/ccsnorth" target="_blank"
                      ><span><i class="dsvy-base-icon-twitter"></i></span
                    ></a>
                  </li>
                  <li class="dsvy-social-li dsvy-social-login">
                    <a href="/en/login" target="_blank"
                      ><span><i class="dsvy-base-icon-user"></i></span
                    ></a>
                  </li>
                </ul>
                <div class="dsvy-header-search-btn">
                  <a href="#"><i class="dsvy-base-icon-search"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between align-items-center dsvy-header-content dsvy-header-main"
        >
          <div class="dsvy-logo-menuarea">
            <div class="site-branding dsvy-logo-area top_header_omi">
              <div class="wrap">
                <div class="site-title">
                  <a href="/" rel="home">
                    <img
                      class="dsvy-main-logo"
                      src="/content/uploads/sites/3/2022/06/crimson-logo-white.png"
                      alt="Crimson Consulting"
                      title="Crimson Consulting"
                    />
                    <img
                      class="dsvy-sticky-logo"
                      src="/content/uploads/sites/3/2022/06/crimson-logo-dark.png"
                      alt="Crimson Consulting"
                      title="Crimson Consulting"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="navigation-top">
              <button id="menu-toggle" class="nav-menu-toggle">
                <i class="dsvy-base-icon-menu"></i>
              </button>
              <div class="wrap">
                <nav
                  id="site-navigation"
                  class="main-navigation dsvy-navbar dsvy-main-active-color-globalcolor dsvy-dropdown-active-color-globalcolor"
                  aria-label="Top Menu"
                >
                  <div class="menu-main-menu-container">
                    <ul id="dsvy-top-menu" class="menu">
                      <li
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"
                      >
                        <a href="/">Home</a>
                      </li>
                      <li
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                      >
                        <a href="#">About Us</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="/about-us/">About Us</a>
                          </li>
                          <li class="menu-item">
                            <a href="/careers/">Careers</a>
                          </li>
                        </ul>
                      </li>
                      <li
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                      >
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-dsvy-service"
                          >
                            <a href="/services/background-checks/"
                              >Background Checks</a
                            >
                          </li>
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-dsvy-service"
                          >
                            <a href="/services/consulting/">Consulting</a>
                          </li>
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-dsvy-service"
                          >
                            <a href="/services/deployable-security/"
                              >Deployable Security</a
                            >
                          </li>
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-dsvy-service"
                          >
                            <a href="/services/protective/">Protective</a>
                          </li>
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-dsvy-service"
                          >
                            <a href="/services/transportation/"
                              >Transportation</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                      >
                        <a href="#">Projects</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="/project-style-2/">Our Projects</a>
                          </li>
                        </ul>
                      </li>
                      <li
                        class="menu-item menu-item-type-post_type menu-item-object-page"
                      >
                        <a href="/contact-us/">Contact Us</a>
                      </li>
                      <li
                        class="menu-item menu-item-type-custom menu-item-object-custom mobile-login-item"
                      >
                        <a href="/en/login">LOGIN</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="dsvy-header-right-box">
            <div class="dsvy-header-question-box">
              <div class="dsvy-question-icon">
                <i class="dsvy-digicop-icon dsvy-digicop-icon-chat"></i>
              </div>
              <div class="dsvy-question-content">
                <span class="dsvy-question-label">Have any Questions?</span>
                <a href="tel:9725610927" class="dsvy-question-phone"
                  >972-561-0927</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .dsvy-header-main {
      padding: 0 15px;
    }
    .dsvy-header-right-box {
      display: flex;
      align-items: center;
    }
    .dsvy-header-question-box {
      display: flex;
      align-items: center;
      padding: 15px 0;
    }
    .dsvy-question-icon {
      width: 50px;
      height: 50px;
      border: 2px solid #c8102e;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
    .dsvy-question-icon i {
      font-size: 24px;
      color: #c8102e;
    }
    .dsvy-question-content {
      display: flex;
      flex-direction: column;
    }
    .dsvy-question-label {
      font-size: 13px;
      color: #666;
      margin-bottom: 2px;
    }
    .dsvy-sticky-on .dsvy-question-label {
      color: #666;
    }
    .dsvy-question-phone {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #1a1a1a;
      text-decoration: none;
    }
    .dsvy-sticky-on .dsvy-question-phone {
      color: #1a1a1a;
    }
    .dsvy-question-phone:hover {
      color: #c8102e;
    }
    @media (max-width: 1199px) {
      .dsvy-header-right-box {
        display: none;
      }
    }
    
    /* Login menu item - mobile only */
    .mobile-login-item {
      display: none !important;
    }
    @media (max-width: 1199px) {
      .mobile-login-item {
        display: block !important;
      }
    }
  </style>
</header>
