<footer id="colophon" class="dsvy-footer-section site-footer dsvy-text-color-white dsvy-bg-color-blackish dsvy-footer-menu-no dsvy-footer-widget-yes">
  <div class="dsvy-footer-section dsvy-footer-big-area-wrapper dsvy-bg-color-transparent">
    <div class="footer-wrap dsvy-footer-big-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="dsvy-footer-boxes dsvy-footer-boxes-1 col-md-4">
            <div class="dsvy-footer-contact-info">
              <div class="dsvy-footer-contact-info-inner">
                <i class="dsvy-digicop-icon dsvy-digicop-icon-call"></i>
                <span class="dsvy-label dsvy-label-1">Contact Us</span>
                972-561-0927
              </div>
            </div>
          </div>
          <div class="dsvy-footer-boxes dsvy-footer-boxes-2 col-md-4">
            <div class="dsvy-footer-contact-info">
              <div class="dsvy-footer-contact-info-inner">
                <i class="dsvy-digicop-icon dsvy-digicop-icon-pin"></i>
                <span class="dsvy-label dsvy-label-2">Office Address</span>
                Dallas, Texas / Houston
              </div>
            </div>
          </div>
          <div class="dsvy-footer-boxes dsvy-footer-boxes-3 col-md-4">
            <div class="dsvy-footer-contact-info">
              <div class="dsvy-footer-contact-info-inner">
                <i class="dsvy-digicop-icon dsvy-digicop-icon-email"></i>
                <span class="dsvy-label dsvy-label-3">Email Address</span>
                contactus@ccsnorth.com
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dsvy-footer-section footer-wrap dsvy-footer-widget-area dsvy-bg-color-transparent footer_service_omi">
    <div class="container">
      <div class="row">
        <div class="dsvy-footer-widget dsvy-footer-widget-col-1 col-md-6 col-lg-3">
          <aside class="widget widget_text digicop_widget digicop_widget_count_1">
            <h2 class="widget-title">About Us</h2>
            <div class="textwidget">
              <p>We provide caring and knowledgeable technicians for making people life easier in dangerous situation</p>
            </div>
          </aside>
        </div>
        <div class="dsvy-footer-widget dsvy-footer-widget-col-2 col-md-6 col-lg-3">
          <aside class="widget widget_nav_menu digicop_widget digicop_widget_count_2">
            <h2 class="widget-title">Quick Links</h2>
            <div class="menu-information-container">
              <ul id="menu-information" class="menu">
                <li class="menu-item"><a href="/about-us/">About Us</a></li>
                <li class="menu-item"><a href="/services/background-checks/">Services</a></li>
                <li class="menu-item"><a href="/project-style-2/">Projects</a></li>
                <li class="menu-item"><a href="/careers/">Careers</a></li>
                <li class="menu-item"><a href="/contact-us/">Contact Us</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="dsvy-footer-widget dsvy-footer-widget-col-3 col-md-6 col-lg-3">
          <aside class="widget digicop_recent_posts_widget digicop_widget digicop_widget_count_3">
            <h2 class="widget-title">Latest News</h2>
            <ul class="dsvy-rpw-list">
              <li>
                <span class="dsvy-rpw-content">
                  <span class="dsvy-rpw-title"><a href="#">Get The best security Out Of our Security list</a></span>
                  <span class="dsvy-rpw-date"><a href="#">July 4, 2020</a></span>
                </span>
              </li>
              <li>
                <span class="dsvy-rpw-content">
                  <span class="dsvy-rpw-title"><a href="#">Use Latest Equipment For Monitoring & security</a></span>
                  <span class="dsvy-rpw-date"><a href="#">July 4, 2020</a></span>
                </span>
              </li>
            </ul>
          </aside>
        </div>
        <div class="dsvy-footer-widget dsvy-footer-widget-col-4 col-md-6 col-lg-3">
          <aside class="widget widget_text digicop_widget digicop_widget_count_4">
            <h2 class="widget-title">Newsletter</h2>
            <div class="textwidget">
              <form class="mc4wp-form" method="post">
                <div class="mc4wp-form-fields">
                  Sign up today for hints, tips and the latest product news
                  <div class="dsvy-footer-newsletter">
                    <input type="email" name="EMAIL" placeholder="Your email address" required />
                    <button type="submit" value="Sign up"><i class="dsvy-base-icon-paper-plane"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <div class="dsvy-footer-section dsvy-footer-text-area dsvy-bg-color-secondarycolor">
    <div class="container">
      <div class="dsvy-footer-text-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="dsvy-footer-copyright-text-area">
              Copyright &copy; 2024, All Rights Reserved.
            </div>
          </div>
          <div class="col-md-4">
            <div class="dsvy-footer-logo-box">
              <div class="dsvy-footer-logo">
                <img class="dsvy-footer-logo" src="/content/uploads/sites/3/2022/06/crimson-logo-white.png" alt="Crimson Consulting" title="Crimson Consulting" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="dsvy-footer-social-area">
              <ul class="dsvy-social-links">
                <li class="dsvy-social-li dsvy-social-facebook"><a href="https://www.facebook.com/CrimsonConsultingLLC/" target="_blank"><span><i class="dsvy-base-icon-facebook-squared"></i></span></a></li>
                <li class="dsvy-social-li dsvy-social-instagram"><a href="https://www.instagram.com/crimson_consultingllc/" target="_blank"><span><i class="dsvy-base-icon-instagram"></i></span></a></li>
                <li class="dsvy-social-li dsvy-social-linkedin"><a href="https://www.linkedin.com/company/crimson-consultingllc/" target="_blank"><span><i class="dsvy-base-icon-linkedin-squared"></i></span></a></li>
                <li class="dsvy-social-li dsvy-social-twitter"><a href="https://twitter.com/ccsnorth" target="_blank"><span><i class="dsvy-base-icon-twitter"></i></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
